# vagrant
.vagrant

# terraform
terraform/.*
terraform/vars/jenkins-ci-cd.tfvars
terraform/terraform.tfstate

# puppet
puppet/.librarian
puppet/.tmp
puppet/manifests-*
puppet/modules/*
puppet/modules-*
puppet/Puppetfile.lock
