# vagrant
.vagrant

# terraform
terraform/.*
terraform/vars/jenkins-ci-cd.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# terraform-ecs
terraform-ecs/.*
terraform-ecs/vars/jenkins-ci-cd.tfvars
terraform-ecs/terraform.tfstate
terraform-ecs/terraform.tfstate.backup

# puppet
puppet/.librarian
puppet/.tmp
puppet/manifests-*
puppet/modules/*
puppet/modules-*
puppet/Puppetfile.lock
