# vagrant
.vagrant

# terraform-infra
terraform/00-terraform-infra/.*
terraform/00-terraform-infra/vars/jenkins-ci-cd.tfvars
terraform/00-terraform-infra/terraform.tfstate
terraform/00-terraform-infra/terraform.tfstate.backup

# terraform-jenkins
terraform/01-terraform-jenkins/.*
terraform/01-terraform-jenkins/vars/jenkins-ci-cd.tfvars
terraform/01-terraform-jenkins/terraform.tfstate
terraform/01-terraform-jenkins/terraform.tfstate.backup

# terraform-ecs
terraform/02-terraform-ecs/.*
terraform/02-terraform-ecs/vars/jenkins-ci-cd.tfvars
terraform/02-terraform-ecs/terraform.tfstate
terraform/02-terraform-ecs/terraform.tfstate.backup

# puppet
puppet/.librarian
puppet/.tmp
puppet/manifests-*
puppet/modules/*
puppet/modules-*
puppet/Puppetfile.lock


# privacy
terraform-ecs-test
jenkins/configs/config.xml