[Unit]
Description=ecosystem
Requires=docker.service
After=network.target docker.service
Wants=network.target


[Service]
ExecStartPre=/opt/ecosystem/pre-startup-service.sh
ExecStart=/opt/ecosystem/startup-service.sh
ExecStop=/opt/ecosystem/stop-service.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
