<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>jenkins.diagnostics.RootUrlNotSetMonitor</string>
    <string>jenkins.security.csrf.CSRFAdministrativeMonitor</string>
    <string>jenkins.security.s2m.MasterKillSwitchWarning</string>
  </disabledAdministrativeMonitors>
  <version>2.164.3</version>
  <installStateName>RUNNING</installStateName>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>hudson.model.Hudson.Administer:admin</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds>
    <hudson.plugins.ec2.EC2Cloud plugin="ec2@1.43">
      <name>ec2-aws-ec2-dev</name>
      <useInstanceProfileForCredentials>false</useInstanceProfileForCredentials>
      <roleArn></roleArn>
      <roleSessionName></roleSessionName>
      <credentialsId>aws</credentialsId>
      <privateKey>
        <privateKey></privateKey>
      </privateKey>
      <instanceCap>2147483647</instanceCap>
      <templates>
        <hudson.plugins.ec2.SlaveTemplate>
          <ami>ami-035be7bafff33b6b6</ami>
          <description>aws-ec2-dev</description>
          <zone>us-east-1a</zone>
          <securityGroups>jenkins</securityGroups>
          <remoteFS></remoteFS>
          <type>T2Medium</type>
          <ebsOptimized>false</ebsOptimized>
          <monitoring>false</monitoring>
          <t2Unlimited>false</t2Unlimited>
          <labels>aws-ec2-dev</labels>
          <mode>NORMAL</mode>
          <initScript>sudo yum -y install git maven java-1.8.0-openjdk-devel yum-utils device-mapper-persistent-data lvm2 wget unzip
sudo yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo
sudo yum install -y http://ftp.riken.jp/Linux/cern/centos/7/extras/x86_64/Packages/container-selinux-2.9-4.el7.noarch.rpm
sudo yum install -y docker-ce docker-ce-cli containerd.io
sudo yum install -y jq
sudo systemctl enable docker
sudo systemctl start docker
sudo usermod -aG docker ec2-user
sudo chmod 777 /var/run/docker.sock
sudo wget https://releases.hashicorp.com/terraform/0.11.13/terraform_0.11.13_linux_amd64.zip
sudo unzip terraform_0.11.13_linux_amd64.zip
sudo mv terraform /usr/local/bin
sudo rm -f terraform_0.11.13_linux_amd64.zip
cd /opt
sudo wget http://repo1.maven.org/maven2/org/codehaus/sonar/runner/sonar-runner-dist/2.4/sonar-runner-dist-2.4.zip
sudo unzip sonar-runner-dist-2.4.zip
sudo mv sonar-runner-2.4 sonar-runner
sudo rm -rf sonar-runner-dist-2.4.zip
sudo curl -sL https://rpm.nodesource.com/setup_10.x | sudo bash -
sudo yum -y install nodejs
</initScript>
          <tmpDir></tmpDir>
          <userData></userData>
          <numExecutors>5</numExecutors>
          <remoteAdmin>ec2-user</remoteAdmin>
          <jvmopts></jvmopts>
          <subnetId>subnet-id</subnetId>
          <idleTerminationMinutes>30</idleTerminationMinutes>
          <iamInstanceProfile></iamInstanceProfile>
          <deleteRootOnTermination>false</deleteRootOnTermination>
          <useEphemeralDevices>false</useEphemeralDevices>
          <customDeviceMapping></customDeviceMapping>
          <instanceCap>2147483647</instanceCap>
          <stopOnTerminate>false</stopOnTerminate>
          <connectionStrategy>PRIVATE_IP</connectionStrategy>
          <associatePublicIp>false</associatePublicIp>
          <useDedicatedTenancy>false</useDedicatedTenancy>
          <amiType class="hudson.plugins.ec2.UnixData">
            <rootCommandPrefix></rootCommandPrefix>
            <slaveCommandPrefix></slaveCommandPrefix>
            <slaveCommandSuffix></slaveCommandSuffix>
            <sshPort>22</sshPort>
          </amiType>
          <launchTimeout>2147483647</launchTimeout>
          <connectBySSHProcess>false</connectBySSHProcess>
          <maxTotalUses>-1</maxTotalUses>
          <nextSubnet>0</nextSubnet>
        </hudson.plugins.ec2.SlaveTemplate>
      </templates>
      <region>us-east-1</region>
      <noDelayProvisioning>true</noDelayProvisioning>
    </hudson.plugins.ec2.EC2Cloud>
    <hudson.plugins.ec2.EC2Cloud plugin="ec2@1.43">
      <name>ec2-aws-ec2-test</name>
      <useInstanceProfileForCredentials>false</useInstanceProfileForCredentials>
      <roleArn></roleArn>
      <roleSessionName></roleSessionName>
      <credentialsId>aws</credentialsId>
      <privateKey>
        <privateKey></privateKey>
      </privateKey>
      <instanceCap>2147483647</instanceCap>
      <templates>
        <hudson.plugins.ec2.SlaveTemplate>
          <ami>ami-035be7bafff33b6b6</ami>
          <description>aws-ec2-test</description>
          <zone>us-east-1a</zone>
          <securityGroups>jenkins</securityGroups>
          <remoteFS></remoteFS>
          <type>T2Medium</type>
          <ebsOptimized>false</ebsOptimized>
          <monitoring>false</monitoring>
          <t2Unlimited>false</t2Unlimited>
          <labels>aws-ec2-test</labels>
          <mode>NORMAL</mode>
          <initScript>sudo yum -y install git maven java-1.8.0-openjdk-devel yum-utils device-mapper-persistent-data lvm2 wget unzip
sudo yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo
sudo yum install -y http://ftp.riken.jp/Linux/cern/centos/7/extras/x86_64/Packages/container-selinux-2.9-4.el7.noarch.rpm
sudo yum install -y docker-ce docker-ce-cli containerd.io
sudo yum install -y jq
sudo systemctl enable docker
sudo systemctl start docker
sudo usermod -aG docker ec2-user
sudo chmod 777 /var/run/docker.sock
sudo wget https://releases.hashicorp.com/terraform/0.11.13/terraform_0.11.13_linux_amd64.zip
sudo unzip terraform_0.11.13_linux_amd64.zip
sudo mv terraform /usr/local/bin
sudo rm -f terraform_0.11.13_linux_amd64.zip
cd /opt
sudo wget http://repo1.maven.org/maven2/org/codehaus/sonar/runner/sonar-runner-dist/2.4/sonar-runner-dist-2.4.zip
sudo unzip sonar-runner-dist-2.4.zip
sudo mv sonar-runner-2.4 sonar-runner
sudo rm -rf sonar-runner-dist-2.4.zip
sudo curl -sL https://rpm.nodesource.com/setup_10.x | sudo bash -
sudo yum -y install nodejs
</initScript>
          <tmpDir></tmpDir>
          <userData></userData>
          <numExecutors>5</numExecutors>
          <remoteAdmin>ec2-user</remoteAdmin>
          <jvmopts></jvmopts>
          <subnetId>subnet-id</subnetId>
          <idleTerminationMinutes>30</idleTerminationMinutes>
          <iamInstanceProfile></iamInstanceProfile>
          <deleteRootOnTermination>false</deleteRootOnTermination>
          <useEphemeralDevices>false</useEphemeralDevices>
          <customDeviceMapping></customDeviceMapping>
          <instanceCap>2147483647</instanceCap>
          <stopOnTerminate>false</stopOnTerminate>
          <connectionStrategy>PRIVATE_IP</connectionStrategy>
          <associatePublicIp>false</associatePublicIp>
          <useDedicatedTenancy>false</useDedicatedTenancy>
          <amiType class="hudson.plugins.ec2.UnixData">
            <rootCommandPrefix></rootCommandPrefix>
            <slaveCommandPrefix></slaveCommandPrefix>
            <slaveCommandSuffix></slaveCommandSuffix>
            <sshPort>22</sshPort>
          </amiType>
          <launchTimeout>2147483647</launchTimeout>
          <connectBySSHProcess>false</connectBySSHProcess>
          <maxTotalUses>-1</maxTotalUses>
          <nextSubnet>0</nextSubnet>
        </hudson.plugins.ec2.SlaveTemplate>
      </templates>
      <region>us-east-1</region>
      <noDelayProvisioning>true</noDelayProvisioning>
    </hudson.plugins.ec2.EC2Cloud>
    <hudson.plugins.ec2.EC2Cloud plugin="ec2@1.43">
      <name>ec2-aws-ec2-prod</name>
      <useInstanceProfileForCredentials>false</useInstanceProfileForCredentials>
      <roleArn></roleArn>
      <roleSessionName></roleSessionName>
      <credentialsId>aws</credentialsId>
      <privateKey>
        <privateKey></privateKey>
      </privateKey>
      <instanceCap>2147483647</instanceCap>
      <templates>
        <hudson.plugins.ec2.SlaveTemplate>
          <ami>ami-035be7bafff33b6b6</ami>
          <description>aws-ec2-prod</description>
          <zone>us-east-1a</zone>
          <securityGroups>jenkins</securityGroups>
          <remoteFS></remoteFS>
          <type>T2Medium</type>
          <ebsOptimized>false</ebsOptimized>
          <monitoring>false</monitoring>
          <t2Unlimited>false</t2Unlimited>
          <labels>aws-ec2-prod</labels>
          <mode>NORMAL</mode>
          <initScript>sudo yum -y install git maven java-1.8.0-openjdk-devel yum-utils device-mapper-persistent-data lvm2 wget unzip
sudo yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo
sudo yum install -y http://ftp.riken.jp/Linux/cern/centos/7/extras/x86_64/Packages/container-selinux-2.9-4.el7.noarch.rpm
sudo yum install -y docker-ce docker-ce-cli containerd.io
sudo yum install -y jq
sudo systemctl enable docker
sudo systemctl start docker
sudo usermod -aG docker ec2-user
sudo chmod 777 /var/run/docker.sock
sudo wget https://releases.hashicorp.com/terraform/0.11.13/terraform_0.11.13_linux_amd64.zip
sudo unzip terraform_0.11.13_linux_amd64.zip
sudo mv terraform /usr/local/bin
sudo rm -f terraform_0.11.13_linux_amd64.zip
cd /opt
sudo wget http://repo1.maven.org/maven2/org/codehaus/sonar/runner/sonar-runner-dist/2.4/sonar-runner-dist-2.4.zip
sudo unzip sonar-runner-dist-2.4.zip
sudo mv sonar-runner-2.4 sonar-runner
sudo rm -rf sonar-runner-dist-2.4.zip
sudo curl -sL https://rpm.nodesource.com/setup_10.x | sudo bash -
sudo yum -y install nodejs
</initScript>
          <tmpDir></tmpDir>
          <userData></userData>
          <numExecutors>5</numExecutors>
          <remoteAdmin>ec2-user</remoteAdmin>
          <jvmopts></jvmopts>
          <subnetId>subnet-id</subnetId>
          <idleTerminationMinutes>30</idleTerminationMinutes>
          <iamInstanceProfile></iamInstanceProfile>
          <deleteRootOnTermination>false</deleteRootOnTermination>
          <useEphemeralDevices>false</useEphemeralDevices>
          <customDeviceMapping></customDeviceMapping>
          <instanceCap>2147483647</instanceCap>
          <stopOnTerminate>false</stopOnTerminate>
          <connectionStrategy>PRIVATE_IP</connectionStrategy>
          <associatePublicIp>false</associatePublicIp>
          <useDedicatedTenancy>false</useDedicatedTenancy>
          <amiType class="hudson.plugins.ec2.UnixData">
            <rootCommandPrefix></rootCommandPrefix>
            <slaveCommandPrefix></slaveCommandPrefix>
            <slaveCommandSuffix></slaveCommandSuffix>
            <sshPort>22</sshPort>
          </amiType>
          <launchTimeout>2147483647</launchTimeout>
          <connectBySSHProcess>false</connectBySSHProcess>
          <maxTotalUses>-1</maxTotalUses>
          <nextSubnet>0</nextSubnet>
        </hudson.plugins.ec2.SlaveTemplate>
      </templates>
      <region>us-east-1</region>
      <noDelayProvisioning>true</noDelayProvisioning>
    </hudson.plugins.ec2.EC2Cloud>
  </clouds>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
  <noUsageStatistics>true</noUsageStatistics>
</hudson>