body {
  font-family: 'Roboto';
  font-size: 13px;
  cursor: default;
  padding-bottom: 100px;
}

.text-red {
  color: #f44336;
}

.completed {
  opacity: 0.3;
}
.editing {
  opacity: 1;
  background: #f1f1f1;
}
.todo-wrap {
  width: 350px;
  margin: 20px auto;
  background: #f3f5f6;
  padding: 10px;
  padding-top: 70px;
  box-shadow: 0 0 5px #ccc;
  position: relative;
  
  &.hidden-content {
    padding-top: 41px;
    
    .content {
      display: none;
    }
    .todo-header {
      
      .toggle-content {
        &:after {
          display: block;
        }
      }
    }
  }
  
  .todo-header {
    margin: 0 0 20px 0;
    padding: 15px 20px;
    padding-right: 52px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  
    h2 {
      font-size: 16px;
      color: #ccc;
      font-weight: normal;
      margin: 0;
      padding-top: 1px;
    }

    input {
      height: auto;
      font-size: 16px;
      padding-bottom: 10px;
      margin: 0;
      border: none;
      
      &:focus {
        border: none;
      }
    }
    
    .toggle-content {
      width: 12px;
      height: 12px;
      position: absolute;
      right: 20px;
      top: 18px;
      cursor: pointer;
      
      &:before, &:after {
        content: '';
        width: 100%;
        height: 2px;
        background: #ccc;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -1px;
      }
      &:after {
        transform: rotate(90deg);
        display: none;
      }
    }
  }
}


.input-field-wrap {
  border-bottom: 1px solid #9e9e9e;
  
  .todo-menu {
    float: left;
    
    & > i {
      cursor: pointer;
      height: auto;
      width: 36px;;
      padding: 6px;
      display: inline-block;
      position: relative;
      z-index: 1000;
    }
    
    .dropdown-content {
      transition: all 0.2s linear;
      
      li {
        line-height: normal;
        min-height: auto;
        
        & > a {
          font-size: 11px;
          padding: 7px 15px;
          
          i {
            font-size: 13px;
            vertical-align: top;
            top: -1px;
            position: relative;
            margin-right: 10px;
          }
        }
      }
    }
    
    &.active {
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
      & > i {
        background: #fff;
        font-size: 16px;
        font-style: normal;
        text-align: center;
      }
      .dropdown-content {
        display: block;
        opacity: 1;
      }
    }
  }
  .input-field {
    overflow: hidden;
    position: relative;
    bottom: -1px;
    margin: 0;
    
    input[type=text] {
      margin: 0;
      height: 36px;
      padding: 0 10px;
    }
    
    label {
      top: 6px;
    }
  }
  .btn-flat {
    float: right;
    padding: 0 5px;
  }
}

.no-todos {
  text-align: center;
  padding: 30px 10px;
}

.todo-list-wrap {
  max-height: 400px;
  overflow: auto;
  margin: 10px 0;
}

.todo-list {
  table-layout: fixed;
  
  tr {
    transition: all .2s linear;
    
    &:hover {
      button {
        opacity: 1;
        transform: scale(1,1);
      }
    }
  }
  
  button {
    width: 19px;
    height: 19px;
    line-height: 19px;
    opacity: 0;
    transform: scale(0,0);
    i {
      line-height: 19px;
      font-size: 11px;
    }
  }
  input {
    margin: 0;
    height: auto;
    border: none;
    font-size: 13px;
  }
  label {
    cursor: pointer;
    display: inline-block;
  }
  input + label {
    height: 15px;
    transform: scale(0.8, 0.8);
    pointer-events: none;
    
    &:before {
      border-width: 1px;
    }
  }
}


.status-bar {
  
  & > span {
    display: inlibe-block;
    padding: 0 10px;
    opacity: 0.3;
    cursor: pointer;
    border-right: 1px solid #ccc;
    
    &:last-child {
      border-right: none;
    }
    &:hover {
      opacity: 0.7;
    }
    &.active {
      opacity: 1;
    }
  }
}



.info {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

